@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Niketo";
  src: 
    url("/fonts/niketo.woff2") format("woff2"),
    url("/fonts/niketo.woff") format("woff");
}

@font-face {
  font-family: "Karelia";
  src: 
    url("/fonts/Karelia-Outtakes.woff2") format("woff2"),
    url("/fonts/Karelia-Outtakes.woff") format("woff");
}

@layer components {
  .ui-box-corners {
    @apply overflow-hidden relative p-12;
  }

  .ui-box-corners::after {
    content: '';
    @apply w-full h-full -left-2 -top-2 p-1 absolute border border-white border-opacity-60 block box-content rounded-18 pointer-events-none select-none;
  }
}

html, body {
  height: 100%;
  background-color: #000;
  color: rgba(255,255,255,0.8);

  @apply font-body;
}

#app {
  display: contents;
}